* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #0D1B2A
}

a {
  color: inherit;
  text-decoration: none;
}

.success {
    display: block;
    opacity: 0;
    transition: .3s opacity;
    margin: 15px;
    padding: 15px;
    background: #28a745; 
    max-width: 300px;
    margin: 30px auto;
    border-radius: 7px;
}

.error {
    display: block;
    opacity: 0;
    transition: .3s opacity;
    margin: 15px;
    padding: 15px;
    background: rgb(215, 64, 58);
    max-width: 300px;
    margin: 30px auto;
    border-radius: 7px;
}

.field-error {
    color: rgb(215, 64, 58);
}

.form label {
    transition: color .3s;
}

.visible {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,
h2,
h3,
h4,
h5,
div {
  text-align: center;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #1B263B;
    margin-bottom: 30px;
    height: 90px;
}

.header a {
    padding: 0 15px;
}

.nav-unauthed {
    padding: 5px 0;
}

/* Form */
.form-container {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
    width: 30%;
}

.form label {
    align-self: start;
    font-weight: bold;
}

.form input {
    width: 100%;
    height: 40px;
    background: none;
    border: 1px solid #E0E1DD;
    border-radius: 7px;
    margin: 15px 0 30px;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.form button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #1B263B;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    margin: 15px;
    transition: 0.3s;
}

.form button[type="submit"]:hover {
    background-color: #415A77;
}

.form input:focus-visible {
    outline: 1px solid #219ebc;
}

.sign-out {
    background-color: transparent;
    border: 1px solid #E0E1DD;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
    margin-inline: 15px;
}

.sign-out:hover {
    outline: 1px solid #219ebc;
}

/* Loading */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
form .loader {
    width: 22px;
    height: 22px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

/* Profile */
.update-profile {
    padding: 5px 15px;
    cursor: pointer;
}

.profile-form {
    margin: auto;
    gap: 0;
}

.profile-tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
}

.profile-tab {
    background: #1B263B;
    padding: 20px;
    width: 10%;
    min-width: 150px;
    cursor: pointer;
    opacity: .6;
    transition: .3s opacity;
}

.profile-tab.toggled,
.profile-tab:hover {
    opacity: 1;
}

.profile-info {
    margin: 30px;
}

.profile-info > span {
    display: block;
    margin: 10px;
}